.checkbox-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: sans-serif;
  color: var(--color-text);
  font-size: 0.8rem;
}

.checkbox-button input[type="checkbox"] {
  display: none;
}

.checkbox-box {
  min-height: 3rem;
  min-width: 3rem;
  border: 1px solid var(--color-heading);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-icon {
  color: var(--color-heading);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cross {
  width: 2.6rem;
  height: 2.6rem;
}
