@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --color-bg-red: #ff6340;
  --color-heading: #e7e7e7;
  --color-text: #bebebe;
  --color-bg-tag: #272727;
}

html,
body {
  scroll-behavior: smooth;
}

.font-bebas {
  font-family: "Bebas Neue", "sans-serif";
  font-weight: 100;
  font-style: normal;
}

body {
  background-color: var(--color-bg-red);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: var(--color-bg-red);
  color: black;
}
